.header-Principal
{
    display: flex;
    height: 6.25rem;
    justify-content: space-between;
    align-items: center;
}
.Contenedor-trabajo-Principal
{
 width: 100%;
 height: 100vh;
 background-color: whitesmoke;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}