.contenedor-principal
{
    width: 100%;
    height: calc(225vh - 4.3em);
    display: grid;
    grid-template-columns: [col-start] 1fr [mid-start] 0fr [mid-end] 1fr [col-end];
    grid-template-rows: [row-start] 1fr [row-mid-start] 1.5fr [row-mid-end] 1fr[row-end-start] 1.5fr [row-end];
    padding: 1.3em .9375rem 3em .9375rem ;
}
