.footer
{
    width: 100%;
    min-height: 6.25rem;
    padding: 2.5rem 0;
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 3.125rem;
    color: white;
}
.item-logo{
    & h3
    {
        margin-top: 10px;
    }
}
.logo-footer
{
    width: 60px;
    height: 60px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.flex-item
{
    display: flex;
    gap:.625rem;
}

.descripcion-footer{
    padding: 0px 1.2em;
    & p
    {
        font-size: 1em;
        font-weight: 300;
        font-family: Georgia, 'Times New Roman', Times, serif;
         text-align: center;
    }
}

.item-git{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & span{
        margin-top: 10px;
    }
    & a{
        color: #fff;
        text-decoration: none;
      }
      & a:hover{
        text-decoration: underline;
      }
}

.git
{
    font-size: 3rem;
    &:hover{
        transform: scale(1.1);
    }
}