.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fff;
    min-width: 31.25rem;
    max-width: 62.5rem;
    min-height: 31.25rem;
    max-height: 37.5rem;
   
}

.modal-close
{
    position: absolute;
    top: 1rem;
    right: 9px;
}