.contenedor-registro-principal{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center ;
}
.registro-wrapper{
  width: 32.5rem;
  background-color: transparent;
  color: #fff;
  border-radius: .625rem;
  padding: 1.875rem 2.5rem;
  border: 2px solid rgba(255,255,255, .2);
  backdrop-filter: blur(2px);
  & h1{
    font-size: 2.25em;
    text-align: center;
  }
  & button{
    width: 100%;
    height: 45px;
    background-color: #333;
    border-radius: 2.5rem;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600 ;
  }
  & button:hover{
    background-color: #005B41;
   opacity: 4;
   color: #fff;
  }
}